    00000_16_230125_cluster_map
     
    data :  kyungki_region.json,region_pop.xls
       display : kyungki_pop.html

In [1]:
#1. package load
import requests
import json
import os
import math
import time
import pandas as pd
import numpy as np
import geopandas as gpd
import folium
import matplotlib.pyplot as plt

from shapely.geometry import mapping, shape, Point, Polygon, LineString
from folium import plugins
from folium.plugins import MarkerCluster, HeatMap
print('슝~')

슝~

In [2]:
#2. 프로젝트(1)  ... data load

path = '../002_data_dir/004_node_data/20210823_socar_zone.csv'

socar_zone_info_df = pd.read_csv(path)
socar_zone_info_df.head()

      zone_name         lng        lat region1  region2 region3
0    비전2 파출소사거리  127.102939  36.995989     경기도      평택시     비전동
1    수원시청역 9번출구  127.032953  37.262378     경기도  수원시　팔달구     인계동
2  목포 상동현대아파트 앞  126.415655  34.811289    전라남도      목포시      상동
3   단국대 산학협력관 앞  127.166626  36.832965    충청남도  천안시　동남구     신부동
4       목원대학교 앞  127.337858  36.329906   대전광역시       서구     도안동

In [3]:
k_socar_zone_df = socar_zone_info_df[socar_zone_info_df['region1'] == '경기도']

In [4]:
#7 서울시 구별 인구수 데이터 수집 및 시각화  .. 데이터 수집 및 전처리 .. 구단위 data
k_geo_data_path = '../002_data_dir/001_map_data/kyungki_region.json'
k_geo_data = json.load(
    open(k_geo_data_path, encoding="utf-8")
)

print('슝~')

슝~

In [5]:
k_pop_df = pd.read_csv("../002_data_dir/003_search_data/230125_cluster_map1.csv")
k_pop_df.head()

   adm_cd    adm_nm  cluster1  cluster2  cluster3  cluster4  cluster5
0   41820       가평군       1.0       NaN       NaN       NaN       NaN
1   41281   고양시 덕양구       1.0       NaN       NaN       NaN       NaN
2   41285  고양시 일산동구       1.0       NaN       NaN       NaN       NaN
3   41287  고양시 일산서구       1.0       NaN       NaN       NaN       NaN
4   41290       과천시       1.0       NaN       NaN       NaN       NaN

In [6]:
k_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   adm_cd    42 non-null     int64
 1   adm_nm    42 non-null     object
 2   cluster1  10 non-null     float64
 3   cluster2  7 non-null      float64
 4   cluster3  8 non-null      float64
 5   cluster4  9 non-null      float64
 6   cluster5  8 non-null      float64
dtypes: float64(5), int64(1), object(1)
memory usage: 2.4+ KB

In [7]:
k_pop_df['adm_cd'] = k_pop_df['adm_cd'].astype(str)

In [8]:
#7 서울시 구별 인구수 데이터 수집 및 시각화  .... map center 지정
# 서울시 중심부 위도, 경도
center = [37.541, 126.986]

# map이 서울 중심부에 위치하고, zoom 레벨은 10으로 시작 합니다.
map = folium.Map(
    location=center,
    zoom_start=10,
    )

print('슝~')

슝~

In [9]:
#2. 프로젝트(1)  # MarkerCluster 객체 
marker_cluster = MarkerCluster().add_to(map)

#maker 객체 추가
for idx, row in k_socar_zone_df.iterrows():
    try:
#         folium.Marker(
#             location=[k_socar_zone_df.loc[idx, "lat"], k_socar_zone_df.loc[idx, "lng"]],
#             popup=k_socar_zone_df.loc[idx, "zone_name"],
#             icon=folium.Icon(color="cadetblue", icon="car", prefix="fa")            
#         ).add_to(marker_cluster)
        folium.CircleMarker(
            location=[k_socar_zone_df.loc[idx, "lat"], k_socar_zone_df.loc[idx, "lng"]],
            color='tomato',
            radius=50,
            tooltip = 'zone'           
        ).add_to(marker_cluster)
    except:
        pass

print('슝~')

슝~

In [10]:
#7 서울시 구별 인구수 데이터 수집 및 시각화 ..  data add
folium.Choropleth(
    geo_data=k_geo_data,
    name="cluster map",
    data=k_pop_df,
    columns=["adm_cd", "cluster1"],
    key_on="feature.properties.ADM_SECT_C",
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.2,
    line_color='white', 
    nan_fill_color='White',
    nan_fill_opacity = 0,
    line_weight=0,
    highlight=False, 
    smooth_factor=1.0,
    legend_name="cluster1"
).add_to(map)

In [11]:
#7 서울시 구별 인구수 데이터 수집 및 시각화 ..  data add
folium.Choropleth(
    geo_data=k_geo_data,
    name="cluster map",
    data=k_pop_df,
    columns=["adm_cd", "cluster2"],
    key_on="feature.properties.ADM_SECT_C",
    fill_color='Reds',
    fill_opacity=0.7,
    line_opacity=0.2,
    line_color='white', 
    nan_fill_color='White',
    nan_fill_opacity = 0,
    line_weight=0,
    highlight=False, 
    smooth_factor=1.0,
    legend_name="cluster2"
).add_to(map)

In [12]:
#7 서울시 구별 인구수 데이터 수집 및 시각화 ..  data add
folium.Choropleth(
    geo_data=k_geo_data,
    name="cluster map",
    data=k_pop_df,
    columns=["adm_cd", "cluster3"],
    key_on="feature.properties.ADM_SECT_C",
    fill_color='Greens',
    fill_opacity=0.7,
    line_opacity=0.2,
    line_color='white', 
    nan_fill_color='White',
    nan_fill_opacity = 0,
    line_weight=0,
    highlight=False, 
    smooth_factor=1.0,
    legend_name="cluster3"
).add_to(map)

In [13]:
#7 서울시 구별 인구수 데이터 수집 및 시각화 ..  data add
folium.Choropleth(
    geo_data=k_geo_data,
    name="cluster map",
    data=k_pop_df,
    columns=["adm_cd", "cluster4"],
    key_on="feature.properties.ADM_SECT_C",
    fill_color='Greys',
    fill_opacity=0.7,
    line_opacity=0.2,
    line_color='white', 
    nan_fill_opacity = 0,
    nan_fill_color='White',
    line_weight=0,
    highlight=False, 
    smooth_factor=1.0,
    legend_name="cluster4"
).add_to(map)

In [14]:
#7 서울시 구별 인구수 데이터 수집 및 시각화 ..  data add
folium.Choropleth(
    geo_data=k_geo_data,
    name="cluster map",
    data=k_pop_df,
    columns=["adm_cd", "cluster5"],
    key_on="feature.properties.ADM_SECT_C",
    fill_color='Purples',
    fill_opacity=0.7,
    line_opacity=0.2,
    line_color='white',
    nan_fill_opacity = 0,
    nan_fill_color='White',
    line_weight=0,
    highlight=False, 
    smooth_factor=1.0,
    legend_name="cluster5"
).add_to(map)

In [15]:
#7 서울시 구별 인구수 데이터 수집 및 시각화 . map
# map

In [16]:
#map.save("../003_map_xml/230125_cluster_pop.html")