    0000000_16_230203_005_cluster_map
     
    data :  kyungki_region.json(경계) , 0001_230126_cluster_map_lat.csv(분석대상 좌표)
       display : 230203_cluster_map.html
       
    목차  
        1) package load
        2) 경기도 경계 
        3) 분석대상 경계
        4) 시각화 
           - base map -> 경기도 시각화 > 분석대상 시각화 -> total map
        5) map save

In [1]:
#1) package load
import requests
import json
import os
import math
import time
import pandas as pd
import numpy as np
import geopandas as gpd
import folium
import matplotlib.pyplot as plt

from shapely.geometry import mapping, shape, Point, Polygon, LineString
from folium import plugins
from folium.plugins import MarkerCluster, HeatMap
print('슝~')

슝~

In [2]:
#2) 경기도 경계 
k_geo_data_path = '../002_data_dir/001_map_data/kyungki_region.json'
k_geo_data = json.load(
    open(k_geo_data_path, encoding="utf-8")
)

print('슝~')

슝~

In [3]:
#3) 분석대상 경계
k_pop_df = pd.read_csv("../002_data_dir/003_search_data/0001_230126_cluster_map_lat.csv")
k_pop_df['adm_cd'] = k_pop_df['adm_cd'].astype(str)
k_pop_df.head()

  adm_cd    adm_nm  socar_data  cluster char         lon        lat
0  41820       가평군           0      NaN  NaN  127.511778  37.828831
1  41281   고양시 덕양구           1      1.0    A  126.878632  37.655810
2  41285  고양시 일산동구           1      1.0    A  126.797558  37.679865
3  41287  고양시 일산서구           1      1.0    A  126.727983  37.680205
4  41290       과천시           0      NaN  NaN  126.989800  37.426372

In [4]:
#4) 시각화 .. base map
center = [37.541, 126.986]

# map이 서울 중심부에 위치하고, zoom 레벨은 10으로 시작 합니다.
map = folium.Map(
    location=center,
    zoom_start=10,
    )

print('슝~')

슝~

In [5]:
#4) 시각화 .. 경기도 시각화 
folium.GeoJson(
    k_geo_data,
    name='경기도'
).add_to(map)

In [6]:
#4) 시각화 .. 분석대상  시각화 
folium.Choropleth(
    geo_data=k_geo_data,
    name="cluster map",
    data=k_pop_df,
    columns=["adm_cd", "cluster"],
    key_on="feature.properties.ADM_SECT_C",
    fill_color='Accent',
    fill_opacity=0.7,
    line_opacity=0.2,
    line_color='white', 
    nan_fill_color='black',
    nan_fill_opacity =0,
    line_weight=0,
    highlight=False, 
    smooth_factor=1.0,
    legend_name="cluster"
).add_to(map)

In [7]:
# #4) 시각화 .. total map
# map

In [8]:
# #5) map save
# map.save("../003_map_xml/230203_cluster_map.html")