In [66]:
import pandas as pd
import numpy as np
import dataframe_image as dfi

In [67]:
# 데이터프레임을 그림 파일로 저장
option = 1 # 1 : dfi / 2 : df2img / 3 : do nothing
import df2img
def savedf(df, path):
    if option == 1:
        dfi.export(df, path)
    if option == 2:
        df2img.save_dataframe(fig=df2img.plot_dataframe(df), filename=path)
    if option == 3:
        pass

# 경기도 42개 지역(시, 군, 구) 선정

In [68]:
# 행정구역상 경기도에 소속되어 있는 지역들 중
# 구(區)가 존재하지 않는 시(市)의 경우에는 시를
# 구가 존재하는 시는 구를 고려하면, 총 42개의 지역을 선정할 수 있다.
# 출처 : https://www.gg.go.kr/contents/contents.do?ciIdx=468&menuId=1831
regions = pd.read_csv("../../data/data_b_raw/2b200_1230_rows.csv")

In [69]:
# 지역목록 1 ; "xx시", "xx군", "xx시 xx구"
regions = sorted(list(regions['지역']))
regions

['가평군',
 '고양시 덕양구',
 '고양시 일산동구',
 '고양시 일산서구',
 '과천시',
 '광명시',
 '광주시',
 '구리시',
 '군포시',
 '김포시',
 '남양주시',
 '동두천시',
 '부천시',
 '성남시 분당구',
 '성남시 수정구',
 '성남시 중원구',
 '수원시 권선구',
 '수원시 영통구',
 '수원시 장안구',
 '수원시 팔달구',
 '시흥시',
 '안산시 단원구',
 '안산시 상록구',
 '안성시',
 '안양시 동안구',
 '안양시 만안구',
 '양주시',
 '양평군',
 '여주시',
 '연천군',
 '오산시',
 '용인시 기흥구',
 '용인시 수지구',
 '용인시 처인구',
 '의왕시',
 '의정부시',
 '이천시',
 '파주시',
 '평택시',
 '포천시',
 '하남시',
 '화성시']

In [70]:
# 지역목록 2 ; "xx시", "xx군", "xx구"
regions_ = [i.split() for i in list(regions)] # list of lists
regions_ = sum(regions_, []) # flattening
regions_ = [region for region in regions_ if region not in ['고양시', '성남시', '수원시', '안산시', '안양시', '용인시']]
regions_

['가평군',
 '덕양구',
 '일산동구',
 '일산서구',
 '과천시',
 '광명시',
 '광주시',
 '구리시',
 '군포시',
 '김포시',
 '남양주시',
 '동두천시',
 '부천시',
 '분당구',
 '수정구',
 '중원구',
 '권선구',
 '영통구',
 '장안구',
 '팔달구',
 '시흥시',
 '단원구',
 '상록구',
 '안성시',
 '동안구',
 '만안구',
 '양주시',
 '양평군',
 '여주시',
 '연천군',
 '오산시',
 '기흥구',
 '수지구',
 '처인구',
 '의왕시',
 '의정부시',
 '이천시',
 '파주시',
 '평택시',
 '포천시',
 '하남시',
 '화성시']

In [71]:
dict1 = dict(zip(regions, regions_)) # "xx시 xx구"를 "xx구"로 바꾼다.
dict2 = dict(zip(regions_, regions)) # "xx구"를 "xx시 xx구"로 바꾼다.
print(dict1['수원시 팔달구'])
print(dict2['팔달구'])
print(dict1['의왕시'])
print(dict2['의왕시'])

팔달구
수원시 팔달구
의왕시
의왕시

In [72]:
# 시 목록 # 25개
city_list = ['가평군', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '시흥시', '안성시',
             '양주시', '양평군', '여주시', '연천군', '오산시', '의왕시', '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시', '화성시']
# 구 목록 1 # 17개
district_list = [ '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', # 고양
                 '성남시 분당구', '성남시 수정구', '성남시 중원구', # 성남
                 '수원시 권선구',  '수원시 영통구', '수원시 장안구', '수원시 팔달구', # 수원
                 '안산시 단원구', '안산시 상록구', # 안산
                 '안양시 동안구', '안양시 만안구', # 안양
                 '용인시 기흥구', '용인시 수지구', '용인시 처인구'] # 용인
# # 구 목록 2 # 17개
district_list_ = [dict1[region] for region in district_list]
district_list_

['덕양구',
 '일산동구',
 '일산서구',
 '분당구',
 '수정구',
 '중원구',
 '권선구',
 '영통구',
 '장안구',
 '팔달구',
 '단원구',
 '상록구',
 '동안구',
 '만안구',
 '기흥구',
 '수지구',
 '처인구']

In [73]:
# sanity check
print(len(city_list),'+',len(district_list),'=', len(regions))

25 + 17 = 42

## 지역별 위도, 경도

In [74]:
locations = pd.read_csv("../../data/data_b_raw/2b205_0110_locations.csv")
locations.set_index("지역", inplace=True)
locations.rename(columns={'latitude':'위도', 'longitude':'경도'}, inplace=True)
locations.head()

                위도          경도
지역
수원시 장안구  37.303971  127.001743
수원시 권선구  37.257687  126.963532
수원시 팔달구  37.282570  127.011718
수원시 영통구  37.259600  127.042341
용인시 처인구  37.234346  127.192965

# 각 feature별 데이터 수집

## 쏘카존 수 : `zcount`

In [75]:
# 쏘카존 갯수 데이터(김선중)
# 출처 : https://d3s0tskafalll9.cloudfront.net/media/documents/20210823_socar_zone.csv (going deeper 4-6)
zones = pd.read_csv("../../data/data_b_raw/2b201_1228_20210823_socar_zone.csv")
zones.head()

      zone_name         lng        lat region1  region2 region3
0    비전2 파출소사거리  127.102939  36.995989     경기도      평택시     비전동
1    수원시청역 9번출구  127.032953  37.262378     경기도  수원시　팔달구     인계동
2  목포 상동현대아파트 앞  126.415655  34.811289    전라남도      목포시      상동
3   단국대 산학협력관 앞  127.166626  36.832965    충청남도  천안시　동남구     신부동
4       목원대학교 앞  127.337858  36.329906   대전광역시       서구     도안동

In [76]:
zones = zones[zones['region1']=="경기도"] # 경기도 자료만 자르기
zones = zones.reset_index(drop=True)
zones.head()

         zone_name         lng        lat region1  region2 region3
0       비전2 파출소사거리  127.102939  36.995989     경기도      평택시     비전동
1       수원시청역 9번출구  127.032953  37.262378     경기도  수원시　팔달구     인계동
2  수원대 쪽문(평생교육원 뒤)  126.980617  37.213111     경기도      화성시     봉담읍
3       수원시청역 1번출구  127.034731  37.258294     경기도  수원시　팔달구     인계동
4         판곡초등학교 앞  127.240318  37.657671     경기도     남양주시     호평동

In [77]:
print(zones['region2'].unique())
print(zones['region2'].nunique()) # region2의 갯수는 42개

['평택시' '수원시\u3000팔달구' '화성시' '남양주시' '하남시' '수원시\u3000영통구' '용인시\u3000기흥구'
 '부천시' '이천시' '광명시' '고양시\u3000일산동구' '양주시' '여주시' '안양시\u3000동안구' '파주시' '구리시'
 '시흥시' '고양시\u3000일산서구' '성남시\u3000수정구' '의정부시' '오산시' '수원시\u3000장안구'
 '성남시\u3000중원구' '안산시\u3000단원구' '광주시' '용인시\u3000수지구' '고양시\u3000덕양구'
 '용인시\u3000처인구' '안양시\u3000만안구' '김포시' '포천시' '군포시' '성남시\u3000분당구'
 '수원시\u3000권선구' '양평군' '안산시\u3000상록구' '동두천시' '가평군' '안성시' '의왕시' '연천군' '과천시']
42

In [78]:
zones['region2'].replace({ 
    '수원시\u3000팔달구':'수원시 팔달구', '수원시\u3000영통구':'수원시 영통구', '용인시\u3000기흥구':'용인시 기흥구',
    '고양시\u3000일산동구':'고양시 일산동구', '안양시\u3000동안구':'안양시 동안구', '고양시\u3000일산서구':'고양시 일산서구',
    '성남시\u3000수정구':'성남시 수정구', '수원시\u3000장안구':'수원시 장안구', '성남시\u3000중원구':'성남시 중원구',
    '안산시\u3000단원구':'안산시 단원구', '용인시\u3000수지구':'용인시 수지구', '고양시\u3000덕양구':'고양시 덕양구',
    '용인시\u3000처인구':'용인시 처인구', '안양시\u3000만안구':'안양시 만안구', '성남시\u3000분당구':'성남시 분당구',
    '수원시\u3000권선구':'수원시 권선구', '안산시\u3000상록구':'안산시 상록구',}, inplace=True)
# \u3000을 space로 변환 (더 좋은 코딩방법이 있을 것 같다.)
# l  = ['element1\t0238.94', 'element2', 'element3\t0139847']
# [i.split('\t', 1)[0] for i in l]

In [79]:
sorted(zones['region2'].unique()) == regions # 앞서 선정한 42개 지역 목록과 일치한다.

True

In [80]:
# 각 지역별 쏘카존 수 데이터 생성
zcount = pd.DataFrame(zones['region2'].value_counts())
zcount.columns = ['쏘카존 수']
zcount = zcount.reindex(regions)
zcount.head()

          쏘카존 수
가평군           7
고양시 덕양구      48
고양시 일산동구     51
고양시 일산서구     29
과천시           3

## 토지용도 : `land_use_`

In [81]:
# 동, 면별 토지용도 데이터 1(윤겸님)
# 데이터를 얻은 곳 : http://gris.gg.go.kr/ost/oneStopView.do?pnu=4150010300104450002
# 위의 웹사이트에서, 경기도 모든 지역의 동, 면에 대하여 녹지/주거/공업/상업 중 어떤 카테고리에 해당하는지를 수작업으로 조사했다.
# 윤겸님이 보내주신 자료에 몇 지역이 누락되어 있어서 채워넣었다.
land_use1 = pd.read_csv("../../data/data_b_raw/2b202_1228_토지이용계획_차윤겸_최종.csv", encoding='CP949')
land_use1.head()

      시, 구  동, 면 토지용도
0  수원시 장안구  상광교동   녹지
1  수원시 장안구   송죽동   주거
2  수원시 장안구   연무동   주거
3  수원시 장안구   영화동   주거
4  수원시 장안구   율전동   주거

In [82]:
len(land_use1['시, 구'].unique()) # 절반씩 조사하기로 했으므로, 21개가 되어야 하지만, 24개가 보인다. 해야 하는 것보다 더 많이 조사하셨다.

24

In [83]:
land_use2 = pd.read_csv("../../data/data_b_raw/2b203_1228_토지이용계획_김선중_최종.csv",encoding='CP949')
land_use2.head()
# 동, 면별 토지용도 데이터 2(김선중)
# 데이터를 얻은 곳 : http://gris.gg.go.kr/ost/oneStopView.do?pnu=4150010300104450002
# 위의 웹사이트에서, 경기도 모든 지역의 동, 면에 대하여 녹지/주거/공업/상업 중 어떤 카테고리에 해당하는지를 수작업으로 조사했다.

  시, 구  동, 면 토지용도
0  군포시   금정동   주거
1  군포시    당동   주거
2  군포시   당정동   공업
3  군포시  대야미동   녹지
4  군포시  도마교동   주거

In [84]:
len(land_use2['시, 구'].unique())

21

In [85]:
set(land_use1['시, 구']).intersection(land_use2['시, 구']) # 두 조사자가 조사한 지역 중 세 군데가 겹친다.

{'군포시', '오산시', '하남시'}

In [86]:
# 윤겸님이 조사한 지역들 중 겹치는 부분들을 제거했다.
mask = land_use1['시, 구'].isin(list(set(land_use1['시, 구']).intersection(land_use2['시, 구'])))
land_use1 = land_use1[~mask]
land_use1['시, 구'].nunique()

21

In [87]:
# 최종적인 동, 면별 토지용도 데이터 
land_use = pd.concat([land_use1,land_use2])
land_use.reset_index(inplace=True, drop=True)
land_use

        시, 구  동, 면 토지용도
0    수원시 장안구  상광교동   녹지
1    수원시 장안구   송죽동   주거
2    수원시 장안구   연무동   주거
3    수원시 장안구   영화동   주거
4    수원시 장안구   율전동   주거
..       ...   ...  ...
747      연천군   장남면   녹지
748      연천군   전곡읍   녹지
749      연천군    중면   녹지
750      연천군   청산면   녹지
751      연천군   화현면   녹지

[752 rows x 3 columns]

In [88]:
print(land_use['시, 구'].nunique())
print(regions ==sorted(land_use['시, 구'].unique())) # 앞서 선정한 42개 지역 목록과 일치한다.

42
True

In [89]:
land_use_ = pd.DataFrame(index = regions)
nature_list = []
dwell_list = []
industry_list = []
commerce_list = []
for region in regions:
    ratio_region = land_use[land_use['시, 구']==region]
    total_number = len(ratio_region)
    nature_list.append(sum(ratio_region['토지용도']=='녹지')/total_number)
    dwell_list.append(sum(ratio_region['토지용도']=='주거')/total_number)
    industry_list.append(sum(ratio_region['토지용도']=='공업')/total_number)
    commerce_list.append(sum(ratio_region['토지용도']=='상업')/total_number)

In [90]:
# 각 지역별 녹지/주거/공업/상업의 동/면 비율 데이터 생성
land_use_['녹지'] = nature_list
land_use_['주거'] = dwell_list
land_use_['공업'] = industry_list
land_use_['상업'] = commerce_list
land_use_.head()

                녹지        주거   공업        상업
가평군       1.000000  0.000000  0.0  0.000000
고양시 덕양구   0.656250  0.343750  0.0  0.000000
고양시 일산동구  0.461538  0.461538  0.0  0.076923
고양시 일산서구  0.500000  0.375000  0.0  0.125000
과천시       0.500000  0.500000  0.0  0.000000

## 인구 : `pop`

In [91]:
# 경기지역 행정구역별 인구 데이터(연수님)
# 데이터를 얻은 곳 : [출처필요]
pop = pd.read_csv("../../data/data_b_raw/2b301_1227_행정구역_시군구_별__성별_인구수.csv", encoding='cp949')
pop.head()

,행정구역(시군구)별,2022.09,2022.09.1,2022.09.2,2022.1,2022.1.1,2022.1.2,2022.11,2022.11.1,2022.11.2
0,행정구역(시군구)별,총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명),남자인구수 (명),여자인구수 (명)
1,경기도,13574353,6832856,6741497,13579508,6835151,6744357,13583238,6836309,6746929
2,수원시,1188234,598490,589744,1189654,599198,590456,1190368,599508,590860
3,장안구,271779,136804,134975,271305,136511,134794,271012,136427,134585
4,권선구,366832,185435,181397,366453,185270,181183,367004,185522,181482

In [92]:
pop.set_index('행정구역(시군구)별',inplace=True)
pop.drop(['행정구역(시군구)별', '경기도', '수원시', '성남시', '안양시', '송탄출장소', '안중출장소', '안산시', '고양시',
           '풍양출장소', '용인시', '화성시동부출장소', '화성시동탄출장소'], inplace=True)
pop = pd.DataFrame(pop['2022.11'])
pop.reset_index(inplace=True)
pop['행정구역(시군구)별'].replace(dict2, inplace=True) # "xx구"를 "xx시 xx구"로 바꾼다.
pop.rename(columns={'2022.11':'인구'},inplace=True)
pop.set_index('행정구역(시군구)별',inplace=True)
pop = pop.reindex(regions)
pop.head()

                인구
행정구역(시군구)별
가평군          62197
고양시 덕양구     487874
고양시 일산동구    296590
고양시 일산서구    290738
과천시          77775

In [93]:
sorted(pop.index.unique()) == regions # 앞서 선정한 42개 지역 목록과 일치한다.

True

## 대학교 수 : `univ_`

In [94]:
# 경기지역 대학교 목록(연수님)
# 데이터를 얻은 곳 : [출처필요]
univ = pd.read_csv("../../data/data_b_raw/2b302_1229_경기대학교.csv", encoding='cp949')
univ.head()

C:\Users\sjkim\AppData\Local\Temp\ipykernel_13352\3819394947.py:3: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  univ = pd.read_csv("../../data/data_b_raw/2b302_1229_경기대학교.csv", encoding='cp949')

,학교구분,학교코드,학교명,본분교,학제,지역,설립구분,관련법령,법인명,학교상태,...,Unnamed: 14,Unnamed: 15,영문주소,중문주소,우편번호,학교개교일,학교홈페이지,총장(대학원장)명,학교대표\r\n번호,학교대표\r\n팩스번호
0,대학,37.0,한경대학교,본교,대학교,경기,국립,고등교육법,해당없음,기존,...,안성시,중앙로,"327, Jungang-ro, Anseong-si, Gyeonggi-do, Repu...","327, Jungang-ro, Anseong-si, Gyeonggi-do, Repu...",17579.0,2012-03-01,www.hknu.ac.kr,이원희,031-670-5114,031-670-5469
1,대학,46.0,가톨릭대학교,본교,대학교,경기,사립,고등교육법,가톨릭학원,기존,...,부천시,원미구,"43, Jibong-ro, Bucheon-si, Gyeonggi-do, Republ...","43, Jibong-ro, Bucheon-si, Gyeonggi-do, Republ...",14662.0,1995-03-01,www.catholic.ac.kr,원종철,02-2164-4114,02-2164-4754
2,대학,51.0,강남대학교,본교,대학교,경기,사립,고등교육법,강남학원,기존,...,용인시,기흥구,"40, Gangnam-ro, Giheung-gu, Yongin-si, Gyeongg...","40, Gangnam-ro, Giheung-gu, Yongin-si, Gyeongg...",16979.0,1948-08-12,www.kangnam.ac.kr,윤신일,031-280-3500,031-280-3173
3,대학,56.0,경기대학교,본교,대학교,경기,사립,고등교육법,경기학원,기존,...,수원시,영통구,"154-42, Gwanggyosan-ro, Yeongtong-gu, Suwon-si...","154-42, Gwanggyosan-ro, Yeongtong-gu, Suwon-si...",16227.0,1947-11-08,www.kyonggi.ac.kr,전준철(직무대행),031-249-9114,031-243-2194
4,대학,63.0,가천대학교,본교,대학교,경기,사립,고등교육법,가천학원,기존,...,성남시,수정구,"1342, Seongnam-daero, Sujeong-gu, Seongnam-si,...","1342, Seongnam-daero, Sujeong-gu, Seongnam-si,...",13120.0,2012-03-01,www.gachon.ac.kr,이길여,031-750-5114,031-753-8828

In [95]:
univ = univ[['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15']]
univ.dropna(inplace=True)
univ.rename(columns={'Unnamed: 13':'도', 'Unnamed: 14':'시', 'Unnamed: 15':'세부'}, inplace=True) # 세부 : 구, 읍, 면, 로, 길
univ.head()

     도    시   세부
0  경기도  안성시  중앙로
1  경기도  부천시  원미구
2  경기도  용인시  기흥구
3  경기도  수원시  영통구
4  경기도  성남시  수정구

In [96]:
print('도 :', univ['도'].unique())
print('시 :', univ['시'].unique())
print('세부 :', univ['세부'].unique())

도 : ['경기도']
시 : ['안성시' '부천시' '용인시' '수원시' '성남시' '포천시' '광주시' '안양시' '화성시' '양평군' '김포시' '평택시'
 '고양시' '군포시' '오산시' '안산시' '양주시' '시흥시' '의정부시' '의왕시' '여주시' '이천시' '파주시' '가평군'
 '남양주시' '동두천시' '과천시']
세부 : ['중앙로' '원미구' '기흥구' '영통구' '수정구' '수지구' '호국로' '처인구' '소사구' '경안로' '만안구' '봉담읍'
 '옥천면' '대덕면' '승가로' '서동대로' '해룡로' '덕양구' '한세로' '한신대길' '상록구' '은현면' '남양읍'
 '산기대학로' '서부로' '계원대학로' '월곶면' '동안구' '장안구' '삼죽면' '곤지암읍' '죽산면' '단원구' '권선구'
 '정남면' '중원구' '세종로' '마장면' '장안웃길' '경기과기대로' '신둔면' '탄현면' '순암로' '공도읍' '대월면'
 '설악면' '분당구' '진접읍' '초월읍' '청학로' '삼남로' '파평면' '벌마들로40번길' '경동대학로' '호암로' '팔탄면'
 '관악산길' '동일로' '일산동구' '지봉로' '호현로489번길']

In [97]:
# sanity check
city = set(np.where(univ['시'].isin(city_list))[0]) # 시(city_list)에 속해있는 대학교들의 index
district = set(np.where(univ['세부'].isin(district_list_))[0]) # 구(district_list)에 속해있는 대학교들의 index
print(set.intersection(city,district)) # city와 district는 겹치지 않는다.
print(set(np.arange(248)) == set.union(city,district)) # city와 district를 합치면 248개가 다 나온다.

set()
True

In [98]:
# 지역 컬럼 생성 : 구가 없는 시면 시 이름을, 구가 있는 시면 구 이름을 배정한다.
city_series = univ['시'][univ['시'].isin(city_list)]
district_series = univ['세부'][univ['세부'].isin(district_list_)]
univ['지역'] = pd.concat([city_series, district_series])
univ.head()

     도    시   세부   지역
0  경기도  안성시  중앙로  안성시
1  경기도  부천시  원미구  부천시
2  경기도  용인시  기흥구  기흥구
3  경기도  수원시  영통구  영통구
4  경기도  성남시  수정구  수정구

In [99]:
# 앞서 선정한 42개 지역 목록에 포함된다. 즉, 일치하지는 않는다. 왜냐하면, 대학교가 없는 지역이 존재하기 때문이다.
print(sorted(univ['지역'].unique())==regions_)
print(len(univ['지역'].unique()))
print(set(univ['지역'].unique()).issubset(set(regions_)))

False
36
True

In [100]:
# 지역 컬럼의 이름을 regions에서의 양식과 일치시킨다.
univ['지역'].replace(dict2, inplace=True) 
univ.head()

     도    시   세부       지역
0  경기도  안성시  중앙로      안성시
1  경기도  부천시  원미구      부천시
2  경기도  용인시  기흥구  용인시 기흥구
3  경기도  수원시  영통구  수원시 영통구
4  경기도  성남시  수정구  성남시 수정구

In [101]:
# 각 지역별 대학교의 개수 데이터 생성
univ_ = pd.DataFrame(index = regions)
univ_['대학교 수'] = [sum(univ['지역']==region) for region in regions]
univ_.head()

          대학교 수
가평군           1
고양시 덕양구       6
고양시 일산동구      1
고양시 일산서구      0
과천시           1

## 아파트 수 : `apartment`

In [102]:
apartment = pd.read_csv("../../data/data_b_raw/2b101_1229_경기도 아파트 현황.csv")
sorted(apartment['경기도 아파트현황'].unique()) == regions # 앞서 선정한 42개 지역 목록과 일치한다.
# 경기지역 아파트 목록(윤겸님)
# 데이터를 얻은 곳 : https://data.gg.go.kr/portal/data/service/selectServicePage.do?infId=VUPYJVKMYEYIKOQDILSR30099546&infSeq=1

True

In [103]:
apartment.rename(columns={'경기도 아파트현황':'지역', '아파트수':'아파트 수'}, inplace=True)
apartment.set_index('지역',inplace=True)
apartment = apartment.reindex(regions)
apartment.head()

          아파트 수
지역
가평군          39
고양시 덕양구     274
고양시 일산동구    133
고양시 일산서구    140
과천시          15

## 지하철역 수 : `subway_`

In [104]:
subway = pd.read_csv("../../data/data_b_raw/2b204_1229_국가철도공단_1_9_경전철.csv", encoding='CP949')
subway.head()
# 경기지역 지하철역 목록(연수님)
# 데이터를 얻은 곳 : https://www.data.go.kr/data/15041113/fileData.do 등 다수

,철도운영기관명,선명,역명,지번주소,도로명주소,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,코레일,1호선,가능,경기도 의정부시 가능동 197-1,경기도 의정부시 평화로 633,경기도,의정부시,평화로,633,NaN,NaN,NaN,NaN
1,코레일,1호선,가산디지털단지,서울특별시 금천구 가산동 468-4,서울특별시 금천구 벚꽃로 309,서울특별시,금천구,벚꽃로,309,NaN,NaN,NaN,NaN
2,코레일,1호선,간석,인천광역시 남동구 간석4동 762번지,인천광역시 남동구 석정로 522-14,인천광역시,남동구,석정로,522-14,NaN,NaN,NaN,NaN
3,코레일,1호선,개봉,서울특별시 구로구 개보동 415,서울특별시 구로구 경인로40길 47,서울특별시,구로구,경인로40길,47,NaN,NaN,NaN,NaN
4,코레일,1호선,관악,경기도 안양시 만악구 석수동 101-16,경기도 안양시 만안구 경수대로1273번길 46,경기도,안양시,만안구,경수대로1273번길,46,NaN,NaN,NaN

In [105]:
cmask = subway.isin(regions+regions_).any(axis='rows') # column mask
# subway의 원소들 중 '42개 지역'을 하나라도 포함하고 있는 열들에 대한 mask
cmask = np.where(cmask)[0] # [5,6,7]
subway = subway.iloc[:,cmask] # subway에서 5, 6, 7번에 해당하는 열들만 추린다.
subway.head()

  Unnamed: 5 Unnamed: 6 Unnamed: 7
0        경기도       의정부시        평화로
1      서울특별시        금천구        벚꽃로
2      인천광역시        남동구        석정로
3      서울특별시        구로구     경인로40길
4        경기도        안양시        만안구

In [106]:
rmask = subway.isin(regions+regions_).any(axis='columns') # row mask
# subway의 원소들 중 '42개 지역'을 하나라도 포함하고 있는 행들에 대한 mask
subway = subway[rmask] # subway에서 '42개 지역'을 하나라도 포함하고 있는 행들만 추린다.
subway.rename(columns={'Unnamed: 5':'도', 'Unnamed: 6':'시', 'Unnamed: 7':'세부'}, inplace=True) # 컬럼 명을 '도'와 '시', '세부'로 변경
subway.head()

      도     시     세부
0   경기도  의정부시    평화로
4   경기도   안양시    만안구
5   경기도   광명시   광명역로
9   경기도   군포시  군포역1길
10  경기도   군포시    군포로

In [107]:
# sanity check
# 244 = 2+166+76 = 2+(144+22)+76, 잘 됐다.
print(subway.isin(regions+regions_)["도"].sum()) # 2
print(subway.isin(regions+regions_)["시"].sum()) # 166
print(subway.isin(regions+regions_)["세부"].sum()) # 76
print(subway.isin(city_list)["도"].sum()) # 2
print(subway.isin(city_list)["시"].sum()) # 144
print(subway.isin(district_list)["시"].sum()) # 22
print(subway.isin(district_list)["세부"].sum()) # 76

2
166
85
2
144
0
0

In [108]:
city1 = set(np.where(subway['도'].isin(city_list))[0])
city2 = set(np.where(subway['시'].isin(city_list))[0])
city = set.union(city1,city2) # '시'에 속해있는 지하철역들의 index
district1 = set(np.where(subway['시'].isin(district_list))[0])
district2 = set(np.where(subway['세부'].isin(district_list))[0])
district = set.union(district1, district2) # '구'에 속해있는 지하철역들의 index
print(set.intersection(city,district)) # city와 district는 겹치지 않는다.
print(set(np.arange(244)) == set.union(city,district)) # city와 district를 합치면 244개가 다 나온다.

set()
False

In [109]:
# 지역 컬럼 생성 : 구가 없는 시면 시 이름을, 구가 있는 시면 구 이름을 배정한다.
city_series1 = subway['도'][subway['도'].isin(city_list)]
city_series2 = subway['시'][subway['시'].isin(city_list)]
district_series1 = subway['시'][subway['시'].isin(district_list_)]
district_series2 = subway['세부'][subway['세부'].isin(district_list_)]
subway['지역'] = pd.concat([city_series1, city_series2, district_series1, district_series2])
subway

       도     시     세부    지역
0    경기도  의정부시    평화로  의정부시
4    경기도   안양시    만안구   만안구
5    경기도   광명시   광명역로   광명시
9    경기도   군포시  군포역1길   군포시
10   경기도   군포시    군포로   군포시
..   ...   ...    ...   ...
655  경기도   김포시    NaN   김포시
656  경기도   김포시    NaN   김포시
657  경기도   김포시    NaN   김포시
658  경기도   김포시    NaN   김포시
659  경기도   김포시    NaN   김포시

[253 rows x 4 columns]

In [110]:
# 앞서 선정한 42개 지역 목록에 포함된다. 즉, 일치하지는 않는다. 왜냐하면, 대학교가 없는 지역이 존재하기 때문이다.
print(sorted(subway['지역'].unique())==regions_)
print(len(subway['지역'].unique()))
print(set(subway['지역'].unique()).issubset(set(regions_)))

False
39
True

In [111]:
# 지역 컬럼의 이름을 regions에서의 양식과 일치시킨다.
subway['지역'].replace(dict2, inplace=True) 
subway.head()

      도     시     세부       지역
0   경기도  의정부시    평화로     의정부시
4   경기도   안양시    만안구  안양시 만안구
5   경기도   광명시   광명역로      광명시
9   경기도   군포시  군포역1길      군포시
10  경기도   군포시    군포로      군포시

In [112]:
# 각 지역별 대학교의 개수 데이터 생성
subway_ = pd.DataFrame(index = regions)
subway_['지하철역 수'] = [sum(subway['지역']==region) for region in regions]
subway_.head()

          지하철역 수
가평군            4
고양시 덕양구        9
고양시 일산동구       6
고양시 일산서구       4
과천시            5

## 버스정류장 수 : `busstop`

In [113]:
busstop = pd.read_csv("../../data/data_b_raw/2b401_0104_Bus_Stop_final.csv", encoding='CP949')
busstop.rename(columns={'Unnamed: 0':'지역','정류장수':'정류장 수'}, inplace=True)
busstop.head()
# 경기지역 버스정류장 목록(현우님)
# 데이터를 얻은 곳 : [출처필요]

         지역  정류장 수
0       가평군    928
1   고양시_덕양구   1205
2  고양시_일산동구    454
3  고양시_일산서구    635
4       과천시    111

In [114]:
regions_temp = list(busstop['지역'])
# regions == [region.replace('_', ' ') for region in regions_temp] # True
busstop['지역'].replace(dict(zip(regions_temp, regions)), inplace=True)
busstop.set_index('지역', inplace=True)
busstop.head()

          정류장 수
지역
가평군         928
고양시 덕양구    1205
고양시 일산동구    454
고양시 일산서구    635
과천시         111

## 환승역 수 : transfer

In [115]:
transfer = pd.read_csv("../../data/data_b_raw/2b501_0104_환승역.csv", encoding='CP949')
transfer.set_index('지역', inplace=True)
transfer.head()

         환승역 수
지역
수원시 장안구      0
수원시 권선구      0
수원시 팔달구      2
수원시 영통구      0
용인시 처인구      0

## 행복주택 : `happyhouse_`

In [116]:
happyhouse = pd.read_csv("../../data/data_b_raw/2b206_0111_경기도 행복주택주거지현황.csv")
# set(happy['지역']).issubset(set(regions)) # True
# happy['지역'].nunique() # 25
happyhouse.head()

,지역,단지,세대수,주소,위도,경도
0,고양시 덕양구,삼송11단지,832,경기도 고양시 덕양구 원흥1로 25,37.650992,126.865491
1,고양시 덕양구,고양지축 A-1블록 신혼희망타운 행복주택,250,경기도 고양시 덕양구 오부자로 99,37.653331,126.921037
2,고양시 덕양구,고양지축 A-4BL 행복주택,473,경기도 고양시 덕양구 오부자로 43,37.654038,126.914946
3,고양시 덕양구,고양삼송 LH원흥마을13단지,947,경기도 고양시 덕양구 원흥1로 35,37.652631,126.868888
4,고양시 덕양구,서정마을LH12단지,276,경기도 고양시 덕양구 서정마을2로 17,37.621215,126.847648

In [117]:
happyhouse_ = pd.DataFrame(index=regions)
happyhouse_['행복주택 수'] = happyhouse['지역'].value_counts()
happyhouse_ = happyhouse_.fillna(0)
happyhouse_['행복주택 수'] = happyhouse_['행복주택 수'].astype(int)
happyhouse_.head()

          행복주택 수
가평군            0
고양시 덕양구        8
고양시 일산동구       0
고양시 일산서구       0
과천시            0

## 20-30대 인구, 대학생 수

In [118]:
undergraduate = pd.read_csv("../../data/data_b_raw/2b106_0120_대학생수.csv", index_col='지역')
undergraduate.columns = ['대학생 수']
undergraduate.head()

         대학생 수
지역
수원시 장안구  34441
수원시 권선구  11033
수원시 팔달구      0
수원시 영통구  22911
용인시 처인구  13084

In [119]:
pop2030 = pd.read_csv("../../data/data_b_raw/2b105_0120_2030인구.csv", encoding='cp949', index_col='지역')
pop2030.head()

             인구   20-30인구       전체인구         구별 인구
지역
수원시 장안구  271012  361463.0  1190368.0   82294.55980
수원시 권선구  367004       NaN        NaN  111443.15610
수원시 팔달구  192225       NaN        NaN   58370.37385
수원시 영통구  360127       NaN        NaN  109354.91020
용인시 처인구  259872  278423.0  1075570.0   67270.69540

In [120]:
pop2030 = pop2030[['구별 인구']]
pop2030.columns = ['2030인구']
pop2030.head()

               2030인구
지역
수원시 장안구   82294.55980
수원시 권선구  111443.15610
수원시 팔달구   58370.37385
수원시 영통구  109354.91020
용인시 처인구   67270.69540

## 면적

In [121]:
areas = pd.read_excel("../../data/data_b_raw/2b512_0131_areas.xls")
areas.columns = ['지역', '면적']
areas['면적'] = areas['면적'].apply(lambda Str:Str[:len(Str)-1])
areas['면적'] = areas['면적'].apply(lambda x:float(x))
areas.set_index('지역', inplace=True)
areas.head()

             면적
지역
수원시 장안구   33.34
수원시 권선구   47.17
수원시 팔달구   12.86
수원시 영통구   27.72
용인시 처인구  467.65

# feature 데이터를 하나로 통합

In [122]:
collected_data = pd.concat([locations, zcount, land_use_, pop, univ_, apartment, subway_, busstop, transfer, happyhouse_,
                            undergraduate, pop2030, areas], axis = 1)
collected_data.index.name = '지역'
collected_data.head()

,위도,경도,쏘카존 수,녹지,주거,공업,상업,인구,대학교 수,아파트 수,지하철역 수,정류장 수,환승역 수,행복주택 수,대학생 수,2030인구,면적
지역,,,,,,,,,,,,,,,,,
수원시 장안구,37.303971,127.001743,18,0.272727,0.727273,0.000000,0.000000,271012,4,200,1,409,0,0,34441,82294.55980,33.34
수원시 권선구,37.257687,126.963532,16,0.625000,0.312500,0.062500,0.000000,367004,1,159,4,537,0,1,11033,111443.15610,47.17
수원시 팔달구,37.282570,127.011718,20,0.136364,0.409091,0.000000,0.454545,192225,0,65,4,185,2,1,0,58370.37385,12.86
수원시 영통구,37.259600,127.042341,34,0.142857,0.571429,0.285714,0.000000,360127,21,129,6,380,0,3,22911,109354.91020,27.72
용인시 처인구,37.234346,127.192965,29,0.823529,0.058824,0.000000,0.117647,259872,15,112,9,1234,0,1,13084,67270.69540,467.65

In [123]:

collected_data = collected_data.reindex(columns = ['쏘카존 수', '인구', '2030인구', '아파트 수', '행복주택 수', '지하철역 수', '환승역 수', '정류장 수', '대학교 수', '대학생 수',
                                                   '녹지', '주거', '공업', '상업', '위도', '경도', '면적'])
collected_data.head()

,쏘카존 수,인구,2030인구,아파트 수,행복주택 수,지하철역 수,환승역 수,정류장 수,대학교 수,대학생 수,녹지,주거,공업,상업,위도,경도,면적
지역,,,,,,,,,,,,,,,,,
수원시 장안구,18,271012,82294.55980,200,0,1,0,409,4,34441,0.272727,0.727273,0.000000,0.000000,37.303971,127.001743,33.34
수원시 권선구,16,367004,111443.15610,159,1,4,0,537,1,11033,0.625000,0.312500,0.062500,0.000000,37.257687,126.963532,47.17
수원시 팔달구,20,192225,58370.37385,65,1,4,2,185,0,0,0.136364,0.409091,0.000000,0.454545,37.282570,127.011718,12.86
수원시 영통구,34,360127,109354.91020,129,3,6,0,380,21,22911,0.142857,0.571429,0.285714,0.000000,37.259600,127.042341,27.72
용인시 처인구,29,259872,67270.69540,112,1,9,0,1234,15,13084,0.823529,0.058824,0.000000,0.117647,37.234346,127.192965,467.65

In [124]:
collected_data.shape

(42, 17)

In [125]:
collected_data.to_csv("../../data/data_c_final/2c201_1230_collected_data.csv", encoding="utf-8-sig")
savedf(collected_data, "../../data/data_c_final/2c202_1230_collected_data.png")
collected_data.to_csv("results/1b201_1230_collected_data.csv", encoding="utf-8-sig")
savedf(collected_data, "results/1b202_1230_collected_data.png")