In [50]:
import pandas as pd
import numpy as np
import dataframe_image as dfi

In [3]:
# 데이터프레임을 그림 파일로 저장
option = 3 # 1 : dfi / 2 : df2img / 3 : do nothing
import df2img
def savedf(df, path):
    if option == 1:
        dfi.export(df, path)
    if option == 2:
        df2img.save_dataframe(fig=df2img.plot_dataframe(df), filename=path)
    if option == 3:
        pass

# 데이터 작업

## 공영주차장

In [35]:
park = pd.read_csv("../../data/data_b_raw/2b208_0202_한국교통안전공단_전국공영주차장정보_20191224.csv", encoding='CP949')
park = park[park['지역구분']=='경기도']
park = park[park['지역구분_sub']=='김포시'].reset_index(drop=True)
park = park[['경도', '위도']].rename(columns={'경도':'x','위도':'y'})
park

             x          y
0   126.775974  37.602341
1   126.773183  37.603747
2   126.771655  37.599860
3   126.771655  37.599860
4   126.764535  37.604175
5   126.722716  37.623533
6   126.721375  37.621440
7   126.721284  37.618403
8   126.720870  37.622733
9   126.719731  37.619008
10  126.718457  37.619929
11  126.717401  37.619740
12  126.716497  37.619773
13  126.729982  37.619153
14  126.729982  37.619153
15  126.729982  37.619153
16  126.729982  37.619153
17  126.729982  37.619153
18  126.716299  37.613608
19  126.715703  37.620639
20  126.715559  37.621067
21  126.714651  37.622142
22  126.713121  37.623679
23  126.711643  37.628451
24  126.710379  37.626936
25  126.702693  37.628300
26  126.673278  37.643229
27  126.672876  37.643522
28  126.669597  37.644906
29  126.669597  37.644906
30  126.669597  37.644906
31  126.669597  37.644906
32  126.667719  37.644063
33  126.634361  37.720244
34  126.630955  37.720276
35  126.600172  37.693810
36  126.552515  37.717104
37  126.545197  37.639831

## 쏘카존

In [20]:
# 쏘카존 갯수 데이터(김선중)
# 출처 : https://d3s0tskafalll9.cloudfront.net/media/documents/20210823_socar_zone.csv (going deeper 4-6)
zones = pd.read_csv("../../data/data_b_raw/2b201_1228_20210823_socar_zone.csv")
zones = zones[zones['region2']=='김포시'][['lng','lat']].reset_index(drop=True)
zones.rename(columns={'lng':'x','lat':'y'}, inplace=True)
zones.head()

            x          y
0  126.623019  37.617659
1  126.704527  37.632688
2  126.704275  37.632106
3  126.685626  37.645857
4  126.726845  37.602009

In [5]:
len(zones)

55

## 지하철역

In [22]:
subway = pd.read_csv("../../data/data_b_raw/2b207_0202_서울시 역사마스터 정보.csv", encoding='CP949')
subway = subway[subway['호선']=='김포골드라인']
subway = subway[1:][['위도', '경도']].reset_index(drop=True).rename(columns={'위도':'x','경도':'y'})
subway

            x          y
0  126.770345  37.601243
1  126.732387  37.612488
2  126.719731  37.620249
3  126.705975  37.631650
4  126.683930  37.653867
5  126.669017  37.643986
6  126.644344  37.640732
7  126.628633  37.645384
8  126.614309  37.642379

In [23]:
len(subway)

9

## 행복주택

In [29]:
happyhouse = pd.read_csv("../../data/data_b_raw/2b206_0111_경기도 행복주택주거지현황.csv")
happyhouse = happyhouse[happyhouse['지역']=='김포시'].reset_index(drop=True)
happyhouse = happyhouse[['경도', '위도']].rename(columns={'경도':'x', '위도':'y'})
happyhouse

            x          y
0  126.666760  37.637106
1  126.606499  37.688402
2  126.631548  37.658746
3  126.606511  37.689339
4  126.630224  37.660630
5  126.663865  37.636994
6  126.620401  37.646692

# 제안

In [38]:
n_park = len(park)
n_zones = len(zones)
n_subway = len(subway)
n_happyhouse = len(happyhouse)
print("n_park :",n_park)
print("n_zones :",n_zones)
print("n_subway :",n_subway)
print("n_happyhouse :",n_happyhouse)

n_park : 38
n_zones : 55
n_subway : 9
n_happyhouse : 7

In [61]:
# euclidean distance
def d(x:np.array, y:np.array)->float:
    return np.linalg.norm(x-y)
x = np.array([0,3])
y = np.array([4,0])
d(x,y)

5.0

In [ ]:
map()

In [68]:
import numpy as np
# function to be applied to the array
def add(num):
    return num+10
# creating  numpy array
arr = np.array([1, 2, 3, 4, 5])
# printing the original array
print(" The original array : " , arr)
# Apply add() function to array. 
arr = np.array(list(map(add, arr)))
# printing the array after applying function
print(" The array after applying function : " , arr)

 The original array :  [1 2 3 4 5]
 The array after applying function :  [11 12 13 14 15]

In [67]:
park.values[0]

array([126.775974,  37.602341])

In [65]:
i=0
for i in park.values:
    print(i)

[126.775974  37.602341]
[126.773183  37.603747]
[126.771655  37.59986 ]
[126.771655  37.59986 ]
[126.764535  37.604175]
[126.722716  37.623533]
[126.721375  37.62144 ]
[126.721284  37.618403]
[126.72087   37.622733]
[126.719731  37.619008]
[126.718457  37.619929]
[126.717401  37.61974 ]
[126.716497  37.619773]
[126.729982  37.619153]
[126.729982  37.619153]
[126.729982  37.619153]
[126.729982  37.619153]
[126.729982  37.619153]
[126.7162993  37.6136077]
[126.715703  37.620639]
[126.715559  37.621067]
[126.714651  37.622142]
[126.713121  37.623679]
[126.711643  37.628451]
[126.710379  37.626936]
[126.702693  37.6283  ]
[126.673278  37.643229]
[126.672876  37.643522]
[126.669597  37.644906]
[126.669597  37.644906]
[126.669597  37.644906]
[126.669597  37.644906]
[126.667719  37.644063]
[126.634361  37.720244]
[126.630955  37.720276]
[126.600172  37.69381 ]
[126.552515  37.717104]
[126.545197  37.639831]