    000_16_230115_apt_merge_prog
    
    data : apt_anyang.csv, apt_gapyeung.csv,apt_gwacheon.csv,apt_gimpo.csv,apt_buchon.csv,apt_cn_sung.csv,apt_suwon.csv,apt_siheung.csv
            apt_anyang.csv,apt_yeuoncheon.csv,apt_leecheon.csv,apt_paju.csv,apt_hanam.csv
            save : k_apt_total.csv

In [1]:
#1. package load

import os
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_anyang.csv'
apt_df_1 = pd.read_csv(path)
apt_df_1.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,안양시,DY town,호계3동,971-1,2013-01-03,9,2,115,N,경기도 안양시 호계3동 971-1,951780.982196,1.930038e+06,126.955433,37.368156
1,안양시,HHI브라운빌3차아파트,호계2동,940,2007-07-27,15,2,149,N,경기도 안양시 호계2동 940,951648.800973,1.930982e+06,126.953879,37.376652
2,안양시,LD범계마을아파트,호계2동,923-30,1999-01-13,17,1,113,N,경기도 안양시 호계2동 923-30,951221.572581,1.931673e+06,126.949008,37.382859
3,안양시,LG빌리지,석수2동,484,2001-05-19,10,34,1872,Y,경기도 안양시 석수2동 484,947025.809511,1.936663e+06,126.901258,37.427608
4,안양시,강남6차아파트,비산2동,566-5,1984-10-25,6,1,54,N,경기도 안양시 비산2동 566-5,950089.066159,1.933251e+06,126.936109,37.397025

In [3]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_buchon.csv'
apt_df_2 = pd.read_csv(path)
apt_df_2.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,부천시,(건우3차아파트),송내동,328-1,1986-06-14,5,1,124,N,경기도 부천시 송내동 328-1,934212.629401,1.943057e+06,126.755876,37.484411
1,부천시,(국경아파트),괴안동,26696,1988-02-12,5,1,45,N,경기도 부천시 괴안동 26696,NaN,NaN,NaN,NaN
2,부천시,(근영아파트),송내동,593-5,1982-10-27,4,1,20,N,경기도 부천시 송내동 593-5,935635.583208,1.942717e+06,126.771999,37.481450
3,부천시,(대보아파트),송내동,336-7,1988-03-28,5,1,30,N,경기도 부천시 송내동 336-7,934381.647706,1.943315e+06,126.757764,37.486749
4,부천시,(대성아파트),괴안동,120-12,1986-12-29,5,1,30,N,경기도 부천시 괴안동 120-12,939357.749350,1.942593e+06,126.814107,37.480584

In [4]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_cn_sung.csv'
apt_df_3 = pd.read_csv(path)
apt_df_3.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,성남시,LH위례31단지,창곡동,500,2017-07-07,15,13,2334,N,경기도 성남시 창곡동 500,967703.547137,1.941582e+06,127.134747,37.472897
1,성남시,LH위례36단지,창곡동,501,2021-01-04,15,3,470,N,경기도 성남시 창곡동 501,967698.786890,1.941481e+06,127.134698,37.471988
2,성남시,MD아파트,수진동,2220,2001-12-10,11,1,63,N,경기도 성남시 수진동 2220,968039.240912,1.937592e+06,127.138717,37.436948
3,성남시,SR HIGHONE 하이원,성남동,3755,2004-05-21,12,1,44,N,경기도 성남시 성남동 3755,967748.617029,1.937060e+06,127.135455,37.432140
4,성남시,e편한세상 테라스위례,창곡동,575,2017-11-28,4,15,360,N,경기도 성남시 창곡동 575,969222.640577,1.940852e+06,127.151957,37.466366

In [5]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_gapyeung.csv'
apt_df_4 = pd.read_csv(path)
apt_df_4.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,가평군,가평블루핀,가평읍 읍내리,766-3,2019-09-27,19,2,119,N,경기도 가평군 가평읍 읍내리 766-3,1.000669e+06,1.981987e+06,127.507600,37.837651
1,가평군,가평우림필유,가평읍 대곡리,360,2006-12-26,15,2,190,Y,경기도 가평군 가평읍 대곡리 360,1.000909e+06,1.980391e+06,127.510329,37.823267
2,가평군,가평읍내주공아파트,가평읍 읍내리,270,1999-11-19,12,5,355,N,경기도 가평군 가평읍 읍내리 270,1.001229e+06,1.981401e+06,127.513969,37.832368
3,가평군,가평읍내휴먼시아2단지,가평읍 읍내리,234,2010-08-30,13,6,335,N,경기도 가평군 가평읍 읍내리 234,1.001119e+06,1.981627e+06,127.512714,37.834400
4,가평군,가평코아루,가평읍 읍내리,1053,2021-11-09,20,3,221,Y,경기도 가평군 가평읍 읍내리 1053,NaN,NaN,NaN,NaN

In [6]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_gimpo.csv'
apt_df_5 = pd.read_csv(path)
apt_df_5.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,김포시,E편한세상 김포로얄하임,통진읍,513,2021-06-08,18,7,574,Y,경기도 김포시 통진읍 513,NaN,NaN,NaN,NaN
1,김포시,GS 자이아파트,풍무동,766,2010-06-17,18,8,373,Y,경기도 김포시 풍무동 766,931838.699171,1.956272e+06,126.727799,37.603342
2,김포시,GS 자이아파트,풍무동,764,2010-06-17,19,8,445,Y,경기도 김포시 풍무동 764,931579.247792,1.956311e+06,126.724856,37.603678
3,김포시,LH한강센트럴리버,구래동,NaN,2015-06-29,29,8,820,N,경기도 김포시 구래동 nan,922861.700741,1.960960e+06,126.625613,37.644886
4,김포시,LH호수마을5단지,구래동,1817327,2016-04-21,25,8,890,N,경기도 김포시 구래동 1817327,NaN,NaN,NaN,NaN

In [7]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_gwacheon.csv'
apt_df_6 = pd.read_csv(path)
apt_df_6.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,과천시,과천센트레빌,갈현동,639,2020-08-12,15,3,100,N,경기도 과천시 갈현동 639,954704.035303,1.935965e+06,126.988080,37.421725
1,과천시,과천위버필드,원문동,2,2021-01-28,35,21,2129,Y,경기도 과천시 원문동 2,954922.947860,1.936116e+06,126.990545,37.423096
2,과천시,과천제이드자이,갈현동,254-1,2021-12-24,25,7,647,Y,경기도 과천시 갈현동 254-1,954070.867735,1.934238e+06,126.981032,37.406121
3,과천시,과천타워,별양동,1,1997-07-01,10,1,42,N,경기도 과천시 별양동 1,954994.914158,1.936594e+06,126.991329,37.427408
4,과천시,과천푸르지오써밋,중앙동,37,2020-03-31,28,32,1571,Y,경기도 과천시 중앙동 37,955121.023987,1.937032e+06,126.992728,37.431361

In [8]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_hanam.csv'
apt_df_7 = pd.read_csv(path)
apt_df_7.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,하남시,LH위례포엘리움,학암동,645,2021-09-14,25,6,508,Y,경기도 하남시 학암동 645,NaN,NaN,NaN,NaN
1,하남시,가화만사성,덕풍동,519-4,2004-11-29,10,1,72,N,경기도 하남시 덕풍동 519-4,973573.262039,1.948342e+06,127.200886,37.534013
2,하남시,감일 센트레빌,감이동,535,2020-03-12,25,6,589,Y,경기도 하남시 감이동 535,NaN,NaN,NaN,NaN
3,하남시,감일 스윗시티2단지,감일동,519,2021-05-14,25,10,684,N,경기도 하남시 감일동 519,NaN,NaN,NaN,NaN
4,하남시,감일스윗시티10단지,감이동,454,2020-01-15,28,9,753,N,경기도 하남시 감이동 454,NaN,NaN,NaN,NaN

In [9]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_leecheon.csv'
apt_df_8 = pd.read_csv(path)
apt_df_8.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,의왕시,KT이자리에,오전동,333,2004-11-29,22,3,182,Y,경기도 의왕시 오전동 333,953557.781452,1.928042e+06,126.975624,37.350249
1,의왕시,골드클래스,학의동,823-2,2019-05-03,16,8,420,N,경기도 의왕시 학의동 823-2,957109.109536,1.930674e+06,127.015568,37.374146
2,의왕시,남양모란,오전동,358-19,1999-12-24,16,1,128,N,경기도 의왕시 오전동 358-19,953529.823674,1.928460e+06,126.975282,37.354017
3,의왕시,뉴서울국화,오전동,838-3,1994-12-15,18,2,220,Y,경기도 의왕시 오전동 838-3,952799.765084,1.928974e+06,126.967006,37.358614
4,의왕시,대명구름채,오전동,28,2004-12-21,23,6,518,Y,경기도 의왕시 오전동 28,952811.348473,1.929315e+06,126.967115,37.361690

In [10]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_paju.csv'
apt_df_9 = pd.read_csv(path)
apt_df_9.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,파주시,가람마을10단지 동양엔파트월드메르디앙,운정1동,1356,2010-07-29,25,13,972,Y,경기도 파주시 운정1동 1356,934188.594268,1.969855e+06,126.753193,37.725937
1,파주시,가람마을11단지 동문굿모닝힐,운정1동,667,2010-06-30,25,12,958,Y,경기도 파주시 운정1동 667,933628.384300,1.971129e+06,126.746720,37.737375
2,파주시,가람마을14단지,와동동,1475,2020-06-06,25,2,580,N,경기도 파주시 와동동 1475,935504.850562,1.970317e+06,126.768087,37.730194
3,파주시,가람마을1단지 벽산한라,운정1동,1308,2010-08-23,25,14,1145,Y,경기도 파주시 운정1동 1308,934246.673738,1.970625e+06,126.753782,37.732875
4,파주시,가람마을2단지 휴먼시아,운정1동,1311,2009-09-04,23,13,1231,N,경기도 파주시 운정1동 1311,934281.051735,1.970436e+06,126.754189,37.731175

In [11]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_siheung.csv'
apt_df_10 = pd.read_csv(path)
apt_df_10.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,시흥시,LH가온수플,조남동,663,2018-07-03,25,10,678,N,경기도 시흥시 조남동 663,942863.200409,1.931019e+06,126.854649,37.376484
1,시흥시,LH네이처뷰,장현동,170-2,2019-09-09,25,6,620,N,경기도 시흥시 장현동 170-2,937896.128100,1.931732e+06,126.798490,37.382598
2,시흥시,LH네이처포레,은행동,632,2018-07-16,29,14,1594,N,경기도 시흥시 은행동 632,938647.914229,1.937950e+06,126.806465,37.438689
3,시흥시,LH네이처하임,조남동,720,2016-07-19,24,8,592,Y,경기도 시흥시 조남동 720,943753.023193,1.931406e+06,126.864669,37.380027
4,시흥시,LH리벤티움,조남동,678,2017-07-04,21,12,944,N,경기도 시흥시 조남동 678,942958.242729,1.930742e+06,126.855743,37.374001

In [12]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_suwon.csv'
apt_df_11 = pd.read_csv(path)
apt_df_11.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,수원시,CJ,인계동,209-7,2001-05-29,15,1,211,Y,경기도 수원시 인계동 209-7,958211.339617,1.919856e+06,127.028626,37.276688
1,수원시,LG동수원자이3차,망포동,698,2003-06-27,25,7,924,Y,경기도 수원시 망포동 698,960682.110960,1.915405e+06,127.056731,37.236672
2,수원시,L·G빌리지,금곡동,530,1998-11-28,20,38,3234,Y,경기도 수원시 금곡동 530,950072.363689,1.919479e+06,126.936848,37.272887
3,수원시,SK한화,정자동,918,2002-01-21,25,6,520,Y,경기도 수원시 정자동 918,954424.576669,1.921852e+06,126.985791,37.294503
4,수원시,"STX KAN 1,2단지",이목동,917918,2013-02-28,26,13,947,Y,경기도 수원시 이목동 917918,NaN,NaN,NaN,NaN

In [13]:
path = 'c:/users/user/000_my_jupyter/900_aiffel/0000_AIFFELTHON/3김연수/001_map_view_real/01_map_apt/apt_yeuoncheon.csv'
apt_df_12 = pd.read_csv(path)
apt_df_12.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,연천군,가람채,전곡읍 은대리,530-9,2009-07-24,14,2,114,N,경기도 연천군 전곡읍 은대리 530-9,961788.545895,2.003816e+06,127.064579,38.033586
1,연천군,강민,전곡읍 전곡리,449-18,1997-12-23,9,1,73,N,경기도 연천군 전곡읍 전곡리 449-18,962054.404985,2.003567e+06,127.067622,38.031352
2,연천군,내외주택,전곡읍 전곡리,425-1,1981-07-06,3,4,57,N,경기도 연천군 전곡읍 전곡리 425-1,962495.980990,2.003813e+06,127.072640,38.033585
3,연천군,대삼,전곡읍 전곡리,392-1,1991-06-19,5,1,40,N,경기도 연천군 전곡읍 전곡리 392-1,962235.760191,2.003729e+06,127.069679,38.032823
4,연천군,동원주택,전곡읍 전곡리,415-9,1986-12-24,3,5,78,N,경기도 연천군 전곡읍 전곡리 415-9,962540.228433,2.003699e+06,127.073150,38.032563

In [14]:
apt_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       530 non-null    object
 1   공동주택명정보   530 non-null    object
 2   읍면동주소     530 non-null    object
 3   지번주소      530 non-null    object
 4   사용검사일자    530 non-null    object
 5   층수        530 non-null    int64
 6   동수        530 non-null    int64
 7   세대수       530 non-null    int64
 8   의무관리대상여부  530 non-null    object
 9   addr      530 non-null    object
 10  x         467 non-null    float64
 11  y         467 non-null    float64
 12  lng       467 non-null    float64
 13  lat       467 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 58.1+ KB

In [15]:
apt_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       520 non-null    object
 1   공동주택명정보   520 non-null    object
 2   읍면동주소     520 non-null    object
 3   지번주소      520 non-null    object
 4   사용검사일자    520 non-null    object
 5   층수        520 non-null    int64
 6   동수        520 non-null    int64
 7   세대수       520 non-null    int64
 8   의무관리대상여부  520 non-null    object
 9   addr      520 non-null    object
 10  x         466 non-null    float64
 11  y         466 non-null    float64
 12  lng       466 non-null    float64
 13  lat       466 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 57.0+ KB

In [16]:
apt_df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       401 non-null    object
 1   공동주택명정보   401 non-null    object
 2   읍면동주소     401 non-null    object
 3   지번주소      401 non-null    object
 4   사용검사일자    401 non-null    object
 5   층수        401 non-null    int64
 6   동수        401 non-null    int64
 7   세대수       401 non-null    int64
 8   의무관리대상여부  401 non-null    object
 9   addr      401 non-null    object
 10  x         377 non-null    float64
 11  y         377 non-null    float64
 12  lng       377 non-null    float64
 13  lat       377 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 44.0+ KB

In [17]:
apt_df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       600 non-null    object
 1   공동주택명정보   600 non-null    object
 2   읍면동주소     600 non-null    object
 3   지번주소      600 non-null    object
 4   사용검사일자    600 non-null    object
 5   층수        600 non-null    int64
 6   동수        600 non-null    int64
 7   세대수       600 non-null    int64
 8   의무관리대상여부  600 non-null    object
 9   addr      600 non-null    object
 10  x         258 non-null    float64
 11  y         258 non-null    float64
 12  lng       258 non-null    float64
 13  lat       258 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 65.8+ KB

In [18]:
apt_df_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 807 entries, 0 to 806
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       807 non-null    object
 1   공동주택명정보   807 non-null    object
 2   읍면동주소     807 non-null    object
 3   지번주소      802 non-null    object
 4   사용검사일자    807 non-null    object
 5   층수        807 non-null    int64
 6   동수        807 non-null    int64
 7   세대수       807 non-null    int64
 8   의무관리대상여부  807 non-null    object
 9   addr      807 non-null    object
 10  x         713 non-null    float64
 11  y         713 non-null    float64
 12  lng       713 non-null    float64
 13  lat       713 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 88.4+ KB

In [19]:
apt_df_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       500 non-null    object
 1   공동주택명정보   500 non-null    object
 2   읍면동주소     500 non-null    object
 3   지번주소      496 non-null    object
 4   사용검사일자    500 non-null    object
 5   층수        500 non-null    int64
 6   동수        500 non-null    int64
 7   세대수       500 non-null    int64
 8   의무관리대상여부  500 non-null    object
 9   addr      500 non-null    object
 10  x         490 non-null    float64
 11  y         490 non-null    float64
 12  lng       490 non-null    float64
 13  lat       490 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 54.8+ KB

In [20]:
apt_df_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       519 non-null    object
 1   공동주택명정보   519 non-null    object
 2   읍면동주소     519 non-null    object
 3   지번주소      519 non-null    object
 4   사용검사일자    519 non-null    object
 5   층수        519 non-null    int64
 6   동수        519 non-null    int64
 7   세대수       519 non-null    int64
 8   의무관리대상여부  519 non-null    object
 9   addr      519 non-null    object
 10  x         448 non-null    float64
 11  y         448 non-null    float64
 12  lng       448 non-null    float64
 13  lat       448 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 56.9+ KB

In [21]:
apt_df_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556 entries, 0 to 555
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       556 non-null    object
 1   공동주택명정보   556 non-null    object
 2   읍면동주소     556 non-null    object
 3   지번주소      555 non-null    object
 4   사용검사일자    556 non-null    object
 5   층수        556 non-null    int64
 6   동수        556 non-null    int64
 7   세대수       556 non-null    int64
 8   의무관리대상여부  556 non-null    object
 9   addr      556 non-null    object
 10  x         509 non-null    float64
 11  y         509 non-null    float64
 12  lng       509 non-null    float64
 13  lat       509 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 60.9+ KB

In [22]:
apt_df_9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       663 non-null    object
 1   공동주택명정보   663 non-null    object
 2   읍면동주소     663 non-null    object
 3   지번주소      663 non-null    object
 4   사용검사일자    663 non-null    object
 5   층수        663 non-null    int64
 6   동수        663 non-null    int64
 7   세대수       663 non-null    int64
 8   의무관리대상여부  663 non-null    object
 9   addr      663 non-null    object
 10  x         611 non-null    float64
 11  y         611 non-null    float64
 12  lng       611 non-null    float64
 13  lat       611 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 72.6+ KB

In [23]:
apt_df_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634 entries, 0 to 633
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       634 non-null    object
 1   공동주택명정보   634 non-null    object
 2   읍면동주소     634 non-null    object
 3   지번주소      634 non-null    object
 4   사용검사일자    634 non-null    object
 5   층수        634 non-null    int64
 6   동수        634 non-null    int64
 7   세대수       634 non-null    int64
 8   의무관리대상여부  634 non-null    object
 9   addr      634 non-null    object
 10  x         585 non-null    float64
 11  y         585 non-null    float64
 12  lng       585 non-null    float64
 13  lat       585 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 69.5+ KB

In [24]:
apt_df_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       525 non-null    object
 1   공동주택명정보   525 non-null    object
 2   읍면동주소     525 non-null    object
 3   지번주소      525 non-null    object
 4   사용검사일자    525 non-null    object
 5   층수        525 non-null    int64
 6   동수        525 non-null    int64
 7   세대수       525 non-null    int64
 8   의무관리대상여부  525 non-null    object
 9   addr      525 non-null    object
 10  x         481 non-null    float64
 11  y         481 non-null    float64
 12  lng       481 non-null    float64
 13  lat       481 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 57.5+ KB

In [25]:
apt_df_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       708 non-null    object
 1   공동주택명정보   708 non-null    object
 2   읍면동주소     708 non-null    object
 3   지번주소      708 non-null    object
 4   사용검사일자    708 non-null    object
 5   층수        708 non-null    int64
 6   동수        708 non-null    int64
 7   세대수       708 non-null    int64
 8   의무관리대상여부  708 non-null    object
 9   addr      708 non-null    object
 10  x         600 non-null    float64
 11  y         600 non-null    float64
 12  lng       600 non-null    float64
 13  lat       600 non-null    float64
dtypes: float64(4), int64(3), object(7)
memory usage: 77.6+ KB

In [26]:
apt_temp12 = pd.concat([apt_df_1, apt_df_2], ignore_index=True,sort = False)
apt_temp12.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,안양시,DY town,호계3동,971-1,2013-01-03,9,2,115,N,경기도 안양시 호계3동 971-1,951780.982196,1.930038e+06,126.955433,37.368156
1,안양시,HHI브라운빌3차아파트,호계2동,940,2007-07-27,15,2,149,N,경기도 안양시 호계2동 940,951648.800973,1.930982e+06,126.953879,37.376652
2,안양시,LD범계마을아파트,호계2동,923-30,1999-01-13,17,1,113,N,경기도 안양시 호계2동 923-30,951221.572581,1.931673e+06,126.949008,37.382859
3,안양시,LG빌리지,석수2동,484,2001-05-19,10,34,1872,Y,경기도 안양시 석수2동 484,947025.809511,1.936663e+06,126.901258,37.427608
4,안양시,강남6차아파트,비산2동,566-5,1984-10-25,6,1,54,N,경기도 안양시 비산2동 566-5,950089.066159,1.933251e+06,126.936109,37.397025

In [27]:
apt_tot = pd.concat([apt_df_1,apt_df_2,apt_df_3,apt_df_4,apt_df_5,apt_df_6,apt_df_7,apt_df_8,apt_df_9,apt_df_10,apt_df_11,apt_df_12], ignore_index=True,sort = False)
apt_tot.head()

,시군명,공동주택명정보,읍면동주소,지번주소,사용검사일자,층수,동수,세대수,의무관리대상여부,addr,x,y,lng,lat
0,안양시,DY town,호계3동,971-1,2013-01-03,9,2,115,N,경기도 안양시 호계3동 971-1,951780.982196,1.930038e+06,126.955433,37.368156
1,안양시,HHI브라운빌3차아파트,호계2동,940,2007-07-27,15,2,149,N,경기도 안양시 호계2동 940,951648.800973,1.930982e+06,126.953879,37.376652
2,안양시,LD범계마을아파트,호계2동,923-30,1999-01-13,17,1,113,N,경기도 안양시 호계2동 923-30,951221.572581,1.931673e+06,126.949008,37.382859
3,안양시,LG빌리지,석수2동,484,2001-05-19,10,34,1872,Y,경기도 안양시 석수2동 484,947025.809511,1.936663e+06,126.901258,37.427608
4,안양시,강남6차아파트,비산2동,566-5,1984-10-25,6,1,54,N,경기도 안양시 비산2동 566-5,950089.066159,1.933251e+06,126.936109,37.397025

In [28]:
apt_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6963 entries, 0 to 6962
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군명       6963 non-null   object
 1   공동주택명정보   6963 non-null   object
 2   읍면동주소     6963 non-null   object
 3   지번주소      6953 non-null   object
 4   사용검사일자    6963 non-null   object
 5   층수        6963 non-null   int64
 6   동수        6963 non-null   int64
 7   세대수       6963 non-null   int64
 8   의무관리대상여부  6963 non-null   object
 9   addr      6963 non-null   object
 10  x         6005 non-null   float64
 11  y         6005 non-null   float64
 12  lng       6005 non-null   float64
 13  lat       6005 non-null   float64
dtypes: float64(4), int64(3), object(7)
memory usage: 761.7+ KB

In [29]:
apt_tot.to_csv("k_apt_total.csv", index = False)