In [1]:
import pandas as pd
import numpy as np

# load data

## `collected_data`

In [2]:
collected_data = pd.read_csv("../data/data_final/2216_1230_collected_data.csv", index_col="지역")
collected_data

,쏘카존수,녹지,주거,공업,상업,인구,대학교 개수,아파트수,지하철역 개수
지역,,,,,,,,,
가평군,7,1.000000,0.000000,0.000000,0.000000,62197,1,39,4
고양시 덕양구,48,0.656250,0.343750,0.000000,0.000000,487874,6,274,9
고양시 일산동구,51,0.461538,0.461538,0.000000,0.076923,296590,1,133,6
고양시 일산서구,29,0.500000,0.375000,0.000000,0.125000,290738,0,140,4
과천시,3,0.500000,0.500000,0.000000,0.000000,77775,1,15,5
광명시,28,0.222222,0.666667,0.000000,0.111111,288182,0,89,3
광주시,16,0.923077,0.076923,0.000000,0.000000,391704,11,129,4
구리시,19,0.500000,0.500000,0.000000,0.000000,188876,0,111,2
군포시,10,0.333333,0.444444,0.222222,0.000000,266531,7,155,7
김포시,55,0.400000,0.533333,0.066667,0.000000,484194,3,229,9
남양주시,57,0.526316,0.473684,0.000000,0.000000,737366,2,385,13
동두천시,4,0.750000,0.083333,0.083333,0.083333,91735,3,41,5
부천시,57,0.230769,0.615385,0.153846,0.000000,791263,14,520,18
성남시 분당구,58,0.500000,0.500000,0.000000,0.000000,482026,1,231,12
성남시 수정구,18,0.631579,0.368421,0.000000,0.000000,232125,11,91,9
성남시 중원구,13,0.555556,0.222222,0.111111,0.111111,206211,1,79,1
수원시 권선구,16,0.625000,0.312500,0.062500,0.000000,367004,1,159,4
수원시 영통구,34,0.142857,0.571429,0.285714,0.000000,360127,21,129,6
수원시 장안구,18,0.272727,0.727273,0.000000,0.000000,271012,4,200,1
수원시 팔달구,20,0.136364,0.409091,0.000000,0.454545,192225,0,65,4
시흥시,35,0.774194,0.193548,0.032258,0.000000,512438,5,313,11
안산시 단원구,25,0.428571,0.357143,0.214286,0.000000,297509,2,160,15
안산시 상록구,21,0.666667,0.333333,0.000000,0.000000,345535,4,65,4
안성시,13,0.555556,0.288889,0.044444,0.111111,189146,12,96,0
안양시 동안구,19,0.250000,0.750000,0.000000,0.000000,314102,1,174,3
안양시 만안구,19,0.666667,0.333333,0.000000,0.000000,234296,15,138,4
양주시,12,0.727273,0.227273,0.045455,0.000000,241346,4,124,3
양평군,5,1.000000,0.000000,0.000000,0.000000,122463,7,39,9
여주시,7,0.875000,0.125000,0.000000,0.000000,113096,1,70,2
연천군,3,1.000000,0.000000,0.000000,0.000000,42153,0,35,0
오산시,15,0.333333,0.500000,0.083333,0.083333,229833,5,93,4
용인시 기흥구,37,0.727273,0.181818,0.090909,0.000000,438500,16,251,11
용인시 수지구,37,0.428571,0.571429,0.000000,0.000000,377198,9,214,5
용인시 처인구,29,0.823529,0.058824,0.000000,0.117647,259872,15,112,9
의왕시,5,0.636364,0.363636,0.000000,0.000000,160464,1,102,1
의정부시,37,0.461538,0.461538,0.000000,0.076923,463789,6,299,21
이천시,14,0.880000,0.080000,0.000000,0.040000,223151,4,155,3
파주시,36,0.800000,0.142857,0.028571,0.028571,494970,2,221,10
평택시,53,0.594595,0.270270,0.081081,0.054054,577335,9,367,5
포천시,9,0.888889,0.111111,0.000000,0.000000,147019,15,76,0
하남시,29,0.458333,0.541667,0.000000,0.000000,325310,0,131,4
화성시,56,0.567568,0.351351,0.054054,0.027027,907958,27,388,3

## `hackathon_data`

In [3]:
hackathon_data_original = pd.read_csv("../../1228_aiffelthon_dataset/20211022_수요예측_hackathon_data.csv", encoding='cp949')
hackathon_data_original

,region1,region2,reservation_return_at,reservation_start_at,age_group,gender,car_model
0,울산광역시,남구,2019-09-29 21:25:40+00:00,2019-09-29 19:20:00+00:00,1,male,경형
1,울산광역시,남구,2019-07-13 13:11:21+00:00,2019-07-13 11:00:00+00:00,1,male,준중형
2,울산광역시,남구,2019-09-16 23:43:08+00:00,2019-09-16 19:10:00+00:00,1,male,준중형
3,울산광역시,남구,2019-08-09 06:17:41+00:00,2019-08-09 00:20:00+00:00,1,male,준중형
4,울산광역시,남구,2019-07-24 12:36:29+00:00,2019-07-24 09:00:00+00:00,2,male,경형
...,...,...,...,...,...,...,...
457062,경기도,고양시 일산서구,2019-09-14 12:25:29+00:00,2019-09-14 12:00:00+00:00,1,male,경형
457063,경기도,고양시 일산서구,2019-07-25 15:30:00+00:00,2019-07-24 18:30:00+00:00,4,female,준중형
457064,경기도,고양시 일산서구,2019-07-14 22:38:09+00:00,2019-07-14 21:30:00+00:00,1,male,경형
457065,경기도,고양시 일산서구,2019-06-20 18:25:37+00:00,2019-06-20 18:10:00+00:00,1,unknown,소형SUV
457066,경기도,고양시 일산서구,2019-02-09 16:18:14+00:00,2019-02-09 12:40:00+00:00,3,male,중형

In [4]:
hackathon_data_original[hackathon_data_original['region2']=='광명시']

,region1,region2,reservation_return_at,reservation_start_at,age_group,gender,car_model
44105,경기도,광명시,2019-10-08 12:27:53+00:00,2019-10-07 19:30:00+00:00,1,male,소형SUV
44106,경기도,광명시,2019-05-14 12:50:00+00:00,2019-05-13 13:00:00+00:00,4,male,준중형SUV
44107,경기도,광명시,2019-01-11 17:14:14+00:00,2019-01-11 13:30:00+00:00,1,male,소형SUV
44108,경기도,광명시,2019-04-07 19:54:19+00:00,2019-04-07 10:30:00+00:00,3,female,소형SUV
44109,경기도,광명시,2019-09-20 22:47:39+00:00,2019-09-20 16:20:00+00:00,2,male,준중형
...,...,...,...,...,...,...,...
66745,경기도,광명시,2019-03-02 22:29:38+00:00,2019-03-02 21:10:00+00:00,1,female,준중형
66746,경기도,광명시,2019-05-21 16:59:28+00:00,2019-05-21 12:00:00+00:00,3,male,소형SUV
66747,경기도,광명시,2019-01-03 14:00:10+00:00,2019-01-03 10:10:00+00:00,1,male,준중형
66748,경기도,광명시,2019-03-31 21:42:53+00:00,2019-03-31 06:00:00+00:00,1,male,준중형
66749,경기도,광명시,2019-04-30 22:34:53+00:00,2019-04-30 20:40:00+00:00,2,male,경형

In [5]:
hackathon_data_original['region2'].unique()

array(['남구', '동구', '북구', '중구', '강서구', '광명시', '구리시', '김포시', '세종시', '양평군',
       '울주군', '하남시', '화성시', '남양주시', '의정부시', '고양시\u3000덕양구',
       '성남시\u3000분당구', '성남시\u3000수정구', '성남시\u3000중원구', '안양시\u3000동안구',
       '안양시\u3000만안구', '전주시\u3000덕진구', '전주시\u3000완산구', '고양시\u3000일산동구',
       '고양시\u3000일산서구'], dtype=object)

In [6]:
# regions from hackathon data
regions_h= ['남구', '동구', '북구', '중구', '강서구', '광명시', '구리시', '김포시', '세종시', '양평군',
           '울주군', '하남시', '화성시', '남양주시', '의정부시', '고양시 덕양구',
           '성남시 분당구', '성남시 수정구', '성남시 중원구', '안양시 동안구',
           '안양시 만안구', '전주시 덕진구', '전주시 완산구', '고양시 일산동구', '고양시 일산서구']

In [7]:
D = dict(zip(hackathon_data_original['region2'].unique(),regions_h))

In [8]:
hackathon_data_original['region2'] = hackathon_data_original['region2'].map(D)
hackathon_data_original['region2'].unique()

array(['남구', '동구', '북구', '중구', '강서구', '광명시', '구리시', '김포시', '세종시', '양평군',
       '울주군', '하남시', '화성시', '남양주시', '의정부시', '고양시 덕양구', '성남시 분당구',
       '성남시 수정구', '성남시 중원구', '안양시 동안구', '안양시 만안구', '전주시 덕진구', '전주시 완산구',
       '고양시 일산동구', '고양시 일산서구'], dtype=object)

In [9]:
hackathon_data = pd.DataFrame(hackathon_data_original['region2'].value_counts())
hackathon_data.columns = ['이용수']
hackathon_data

            이용수
성남시 분당구   46782
화성시       35249
고양시 일산동구  31906
남양주시      26546
고양시 덕양구   26253
의정부시      25225
안양시 동안구   22918
광명시       22645
남구        21836
김포시       21500
성남시 수정구   18773
안양시 만안구   16806
성남시 중원구   16238
고양시 일산서구  16052
세종시       15263
전주시 완산구   15013
울주군       13632
하남시       13456
구리시       13011
전주시 덕진구   12707
강서구       10634
동구         4526
북구         3799
중구         3310
양평군        2987

# pearson correlation analysis

## intersection of the two dataframe

In [10]:
intersected_rows = set.intersection(set(collected_data.index), set(hackathon_data.index))
intersected_rows = list(intersected_rows)
intersected_rows

['의정부시',
 '고양시 일산동구',
 '남양주시',
 '구리시',
 '성남시 수정구',
 '화성시',
 '광명시',
 '성남시 분당구',
 '김포시',
 '양평군',
 '하남시',
 '성남시 중원구',
 '안양시 만안구',
 '안양시 동안구',
 '고양시 덕양구',
 '고양시 일산서구']

In [11]:
collected_data_intersected = collected_data[collected_data.index.isin(intersected_rows)]
collected_data_intersected.sort_index(ascending=True, inplace=True)
hackathon_data_intersected = hackathon_data[hackathon_data.index.isin(intersected_rows)]
hackathon_data_intersected.sort_index(ascending=True, inplace=True)
intersected = pd.concat([collected_data_intersected, hackathon_data_intersected],axis=1)
intersected['쏘카존수 대비 이용수'] = intersected['이용수']/intersected['쏘카존수']
intersected

C:\Users\govin\AppData\Local\Temp\ipykernel_11844\639524834.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hackathon_data_intersected.sort_index(ascending=True, inplace=True)

,쏘카존수,녹지,주거,공업,상업,인구,대학교 개수,아파트수,지하철역 개수,이용수,쏘카존수 대비 이용수
고양시 덕양구,48,0.656250,0.343750,0.000000,0.000000,487874,6,274,9,26253,546.937500
고양시 일산동구,51,0.461538,0.461538,0.000000,0.076923,296590,1,133,6,31906,625.607843
고양시 일산서구,29,0.500000,0.375000,0.000000,0.125000,290738,0,140,4,16052,553.517241
광명시,28,0.222222,0.666667,0.000000,0.111111,288182,0,89,3,22645,808.750000
구리시,19,0.500000,0.500000,0.000000,0.000000,188876,0,111,2,13011,684.789474
김포시,55,0.400000,0.533333,0.066667,0.000000,484194,3,229,9,21500,390.909091
남양주시,57,0.526316,0.473684,0.000000,0.000000,737366,2,385,13,26546,465.719298
성남시 분당구,58,0.500000,0.500000,0.000000,0.000000,482026,1,231,12,46782,806.586207
성남시 수정구,18,0.631579,0.368421,0.000000,0.000000,232125,11,91,9,18773,1042.944444
성남시 중원구,13,0.555556,0.222222,0.111111,0.111111,206211,1,79,1,16238,1249.076923
안양시 동안구,19,0.250000,0.750000,0.000000,0.000000,314102,1,174,3,22918,1206.210526
안양시 만안구,19,0.666667,0.333333,0.000000,0.000000,234296,15,138,4,16806,884.526316
양평군,5,1.000000,0.000000,0.000000,0.000000,122463,7,39,9,2987,597.400000
의정부시,37,0.461538,0.461538,0.000000,0.076923,463789,6,299,21,25225,681.756757
하남시,29,0.458333,0.541667,0.000000,0.000000,325310,0,131,4,13456,464.000000
화성시,56,0.567568,0.351351,0.054054,0.027027,907958,27,388,3,35249,629.446429

## pearson correlation analysis

In [12]:
intersected.corr()

,쏘카존수,녹지,주거,공업,상업,인구,대학교 개수,아파트수,지하철역 개수,이용수,쏘카존수 대비 이용수
쏘카존수,1.000000,-0.275398,0.305132,0.033706,-0.106532,0.812603,0.112405,0.791505,0.380477,0.806230,-0.537069
녹지,-0.275398,1.000000,-0.931103,-0.022967,-0.313009,-0.154536,0.393989,-0.142347,0.155343,-0.369392,-0.148646
주거,0.305132,-0.931103,1.000000,-0.237979,-0.008059,0.175273,-0.366502,0.196848,-0.060330,0.381949,0.060353
공업,0.033706,-0.022967,-0.237979,1.000000,0.255624,0.159010,0.164733,0.048032,-0.289476,-0.004037,0.237283
상업,-0.106532,-0.313009,-0.008059,0.255624,1.000000,-0.169417,-0.242572,-0.215756,-0.155862,-0.011755,0.166735
인구,0.812603,-0.154536,0.175273,0.159010,-0.169417,1.000000,0.466642,0.950637,0.300060,0.649762,-0.390717
대학교 개수,0.112405,0.393989,-0.366502,0.164733,-0.242572,0.466642,1.000000,0.382193,-0.015686,0.153327,0.012843
아파트수,0.791505,-0.142347,0.196848,0.048032,-0.215756,0.950637,0.382193,1.000000,0.467030,0.623385,-0.388349
지하철역 개수,0.380477,0.155343,-0.060330,-0.289476,-0.155862,0.300060,-0.015686,0.467030,1.000000,0.286200,-0.312177
이용수,0.806230,-0.369392,0.381949,-0.004037,-0.011755,0.649762,0.153327,0.623385,0.286200,1.000000,-0.012417
쏘카존수 대비 이용수,-0.537069,-0.148646,0.060353,0.237283,0.166735,-0.390717,0.012843,-0.388349,-0.312177,-0.012417,1.000000